<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Console</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>

    <style type="text/css">

      input[type="text"],
      input[type="datetime"] {
        margin-bottom: 0px;
      }

    </style>
  </head>

  <body>
    <div class="container" id="top" ng-controller="Controller">
      <h1>Console</h1>
      
      <ul class="nav nav-tabs">
        <!-- tabs -->
        <li ng-repeat="apilist in apilists"><a href={{"#tab_"+apilist.path}} data-toggle="tab">{{apilist.path}}</a><li>
      </ul>

      <div class="tab-content">
        <div style="height:10px"></div>
        

        <!-- tabs content -->
        <div class="tab-pane" ng-repeat="apilist in apilists" id={{"tab_"+apilist.path}}>
          <a href="" ng-repeat="api in apilist.apis" style="margin-right:20px">{{api.name}}</a>
        </div>

        
      </div>

      
    </div> <!-- /container -->

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="util.js"></script>
    <script src="console.js"></script>

  </body>
</html>
